
.details {
  font-size: 1.2rem;
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}






.temperature {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



ion-content {
  background-color: var(--background);
  color: var(--text-color);
}

.temperature {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1s ease-in;
  color: var(--text-color);
}

.details {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--text-color);
}

.error-message {
  color: var(--error-color);
  text-align: center;
  margin-top: 10px;
}

ion-card {
  margin-top: 20px;
  background: var(--card-gradient);
  color: white;
  border-radius: 15px;
}

ion-card-title {
  font-size: 1.5rem;
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
  text-transform: capitalize;
}

ion-button {
  --background: var(--button-background);
}

ion-input {
  --background: white;
  color: black;
  border-radius: 5px;
}

